* {
  margin: 0;
}
.parent {
  .letter {
    width: 50%;
    height: 100vh;
    background: red;
    color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .keycode {
    width: 50%;
    height: 100vh;
    background-color: black;
    color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
}


@media screen and (max-width: 500px){
  .parent {
    .letter {
      float: unset;
       width: 100%;
       height: 50vh;
    }

    .keycode {
      float: unset;
       width: 100%;
       height: 50vh;
    }
  }

}
